html, body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100vh;
    height: 100vh;
}

.tela{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Patua One', cursive;
}


.tela a{
    text-decoration: none;
}

.opcoes{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .opcoes p{
        text-align: center;
    }

.opcao{
    width: 200px;
    height: 200px;
    margin: 0 50px;
}


.opcao img{
    width: 100%;
    height: 100%;
}

.comecar{
    width: 200px;
    height: 60px;
    background-color: rgb(100, 255,100);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}




