html, body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.tela, .resultado{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Patua One', cursive;
}


.tela a{
    text-decoration: none;
}

.opcoes{
    margin:0 auto;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    
@media screen and (max-width: 1000px){
    .opcoes{
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    
}

    .opcoes p{
        text-align: center;
    }

    .opcoes a:hover{
        border: 2px solid gray;
    }

.opcao{
    width: 200px;
    height: 200px;
    margin: 0 30px;
}



.opcao img{
    width: 100%;
    height: 100%;
}

.comecar{
    width: 200px;
    height: 60px;
    background-color: rgb(100, 255,100);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.comecar:hover{
    border: 2px solid green;
}

.resultado p, h3, a{
    margin-bottom: 40px;
}

.resultado a{
    text-decoration: none;
}




